@model Oxagile.Internal.MVC.Models.UserViewModel
<h4>Are you sure to delete the user?</h4>
<div>
    <p>@Html.DisplayFor(m => m.Name) @Html.DisplayFor(m => m.Surname)</p>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="text-align: center">
            <input type="submit" value="Delete"/>
        </div>
    }
</div>


    


